// flex set up
@mixin flexmuscle(
   $disp: inline-flex,
    $dir: null,
    $wrap: null,
    $just: null,
    $flow: null) {
  display: $disp;
  flex-direction: $dir;
  flex-wrap: $wrap;
  justify-content: $just;
  flex-flow: $flow;
}

// ==========================
// Breakpoints
// ==========================
$sm-device-width: 320px;

@mixin phone {
  @media (min-width: #{$sm-device-width}) {
    @content;
  }
}


$md-device-width: 768px;

@mixin tablet {
  @media (min-width: #{$md-device-width}) {
    @content;
  }
}

$desktop-width: 1000px;

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}


$Lg-desktop-width: 1700px;

@mixin LGdesktop {
  @media (min-width: #{$Lg-desktop-width}) {
    @content;
  }
}
