// flex set up
@mixin flexmuscle(
   $disp: flex,
    $dir: null,
    $wrap: null,
    $just: null,
    $flow: null) {
  display: $disp;
  flex-direction: $dir;
  flex-wrap: $wrap;
  justify-content: $just;
  flex-flow: $flow;
}

// ==========================
// Breakpoints
// ==========================

$desktop-width: 1400px;

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}
