.search {
  margin: 35px 6em;
  font-size: 16pt;
  max-width: 400px;
@include tablet{
   margin-left: 12em;
}
@include desktop{
   margin: 35px 19em;
 }

 @include LGdesktop{
   margin-left: 35em;
 }
}

#searchBox{
  max-width: 400px;
  width: 100%;
  border-radius: 5px;
  border: solid lightgrey;
}
